*{
    padding: 0;
    margin: 0;
    box-sizing: border-box  
}

.col-md-12 {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.card{
    border: none;
    width: 70%;
    display: flex;
    align-items: center;
}


.round{
    border-radius: 15px;
}

.shrink:hover
{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
}

.titulo{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 7px;
    text-align: center;
    height: 60px;
    justify-content: flex-start;

     img{
        object-fit: contain;
        width: 37px;
    }
}

@mixin botones ($background-color){
    background-color: $background-color;
    transition: background-color .5s;
    border-color: #2e2d2d;
}




.banner {
    object-fit:cover;
}

.banner:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
overflow: hidden;
}

.special{
    width: 50px;
}

.contact{
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: larger;
}

.contact span{
    font-weight: 540;
}

.box-round{
    background-color: $bgcolor2;
    border-radius: 15px;
    height: auto;
    color: $color2;
    padding-bottom: 1rem;
}

.big-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    height: auto;
    max-height: auto;
}


.texto_base{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: $color1;
}
